.ordermenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menuitems {
    font-size: clamp(3rem, 6vw, 3rem);
}

.menuitem {
    color: #1B1B1B;
    padding: 1em;
    text-decoration: none;
}

.menuitem.active {
    color: #F49E4C;
}